<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @replacement.name %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @replacement.sale_price %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @replacement.purchase_price %>
</p>

<p>
  <strong>Units in stock:</strong>
  <%= @replacement.units_in_stock %>
</p>

<%= link_to 'Edit', edit_replacement_path(@replacement) %> |
<%= link_to 'Back', replacements_path %>
