<div>
	<% if user_signed_in?%>
		<strong><%=current_user.email%></strong><br>
		<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	<%else%>
		   <%= link_to "SIGN UP", new_user_registration_path%><br>
           <%= link_to "SIGN IN", new_user_session_path %>
	<%end%>
</div>
<div>
	<br>
	<br>
	<br>
	<%= link_to "Replacements", controller: 'replacements', action: 'index'%><br>
	<%= link_to "Cars", controller: 'cars', action: 'index'%>
</div>
