<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<%= link_to "Nombre de la Empresa", root_path, class: "navbar-brand" %>
		</div>
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Repuestos <%= icon('angle-down') %></a>
				<ul class="dropdown-menu">
					<li><%= link_to '<i class="fa fa-plus"></i> Agregar nuevo repuesto'.html_safe, new_replacement_path %></li>
					<li><%= link_to '<i class="fa fa-search"></i>	Buscar un repuesto'.html_safe, replacements_path %></li>
					<li class="divider"></li>
					<li><%= link_to '<i class="fa fa-shopping-cart"></i> Registrar compra de repuestos'.html_safe, "#" %></li>
					<li><%= link_to '<i class="fa fa-usd"></i> Registrar ventas de repuestos'.html_safe, "#" %></li>
					<li class="divider"></li>
					<li><%= link_to '<i class="fa fa-truck"></i> Repuestos por acabars'.html_safe %></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Autos <%= icon('angle-down') %></a>
				<ul class="dropdown-menu">
					<li><%= link_to '<i class="fa fa-plus"></i> Agregar nuevo auto'.html_safe, new_car_path %></li>
					<li><%= link_to '<i class="fa fa-sort-amount-desc"></i> Listar autos'.html_safe, cars_path %></li>
				</ul>
			</li>
		</ul>

		<% if user_signed_in? %>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <%= icon('angle-down') %></a>
				<ul class="dropdown-menu">
					<li><%= link_to "Salir del sistema", destroy_user_session_path %></li>
					<li><%= link_to "Registrar un usuario", new_user_registration_path %></li>
				</ul>
			</li>
		</ul>
		<% else %>
		<div class="navbar-right">
			<%= link_to new_user_session_path do %>
				<button type="button" class="btn btn-sm btn-primary navbar-btn">Entrar al sistema</button>
			<% end %>
		</div>
		<% end %>
	</div>
</nav>